# /etc/systemd/system/media-sync.timer
[Unit]
Description=Media Sync Timer

[Timer]
OnBootSec=5min
OnCalendar=*:0/1
Unit=media-sync.service

[Install]
WantedBy=basic.target